* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  height: calc(100% + env(safe-area-inset-top));
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
}
