* {
    margin: 0;
    box-sizing: border-box;
  }

.buttonsContainer {
    width: auto;
    height: 95px;
    padding: 0.2%;
    background-color: rgba(12, 29, 105, 0.836);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  
  .button {
    border-radius: 10px;
    background-color: rgba(57, 76, 161, 0.836);
    border: none;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .btn {
    background-color: rgb(250, 248, 248);
    color: rgb(41, 41, 175);
    align-self: center;
  }
  
  .btn:hover {
    background-color: rgba(12, 29, 105, 0.836);
  
    color: white;
  }
  
  .titleOfButton {
    font-size: 14pt;
    text-transform: uppercase;
  }


p.userName {
    font-size: 24pt;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: white;
    margin: 4px 20px;
}

.chartsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.pieChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 4px 20px;
   
}

.barChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 4px 40px;
   
}
.tableContainer {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.transactionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tableContainer th,
.tableContainer td {
    padding: 12px 15px;
}

.tableContainer thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tableContainer tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tableContainer tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tableContainer tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

@media screen and (max-width: 425px) and (max-width: 1024px) and (max-width: 1440px){
    .buttonsContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    p.userName {
        font-size: 18pt;
    }
    .chartsContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: scroll;
        align-content: center;
    }
    .pieChartContainer {
        margin: 4px 0px;
        width: 100%;
        height: 300px
    }
    
    .barChartContainer {
        margin: 4px 40px;
        width: 1920px;
        height: 500px
    }
  }

@media screen and (max-width: 768px) {
    .chartsContainer {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        align-content: center;
    }
}

@media screen and (max-width: 1920px) {
    .chartsContainer {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        align-content: center;
    }
    .pieChartContainer {
        margin: 4px 0px;
        width: 100%;
        height: 300px
    }
    
    .barChartContainer {
        margin: 4px 40px;
        width: 1920px;
        height: 500px
    }
}